// Edlio SASS main.scss
// This version breaks files into base, mixins, and settings
// main.scss contains all the SASS specific to the individual school. Unique mixins are fine.
// Feel free to move around the various blocks so that they make more sense to the page structure of the site in question.


// Imports - Order is important
// ------------------------------------------------------------

@import "sass/settings";
@import "sass/flexbox";
@import "sass/mixins";
@import "sass/base";
@import "sass/extra-mixins/";


body{
	font-family: $primary-font;
	font-size: 100%;
}
.slick-flexed{
	width: 100%;
	max-width: 100%;
}
.section-container{
	padding: 50px 0;
}
.column-container{
	@include responsive-columns(
		$include-mid: null,
		$include-large: true,
		$include-max: true
	){
		@include flex(1);
	}
}
.max-container{
	@include responsive-container(
		$include-mid: null,
		$include-large: true,
		$include-max: true
);
}
.content-container{
	@include responsive-container(
		$include-mid: null,
		$include-large: true,
		$include-max: true
	);
}

.section-title{
	@include eye-lashes;
	color: inherit;
	margin: 0;
	padding-bottom: 50px;
	font:{
		size: 2rem;
		family: "Times", serif;
	}
}
.column-title{
}

.read-more-link{
	@include hover-underline;
	font:{
		family: serif;
		size: 1rem;
		weight: 300;
	}
	text:{
		transform: uppercase;
		decoration: none;
	}
	color: green;
}
.read-all-link{
	@include hover-bg($jack-black,$jack-white);
	$b-r: 15px;
	display: inline-block;
	padding: 10px;
	border-radius: $b-r $b-r 0 0;
	background-color: purple;
	font:{
		family: serif;
		size: 1rem;
		weight: 300;
	}
	text:{
		transform: uppercase;
		decoration: none;
	}
	color: $jack-white;
}


// High level structure
// ------------------------------------------------------------

html {
	@include sticky-footer-layout;
}

body { 
	background: url('/common_pics/body_bg.png') top center repeat-x;
	background-color: $jack-white;
	color: $jack-black; 
}

body, #footer_main { min-width: $vp-small; }






// Topnavs
// ------------------------------------------------------------
#header_main{
	position: absolute;
	height: 215px;
	width: 100%;
	font-family: $secondary-font;
	z-index: 99;
}
#franja{
	position: absolute;
	width: 100%;
  height: 66px;
  transform: translateY(-100%);
	top: 50%;
	left: 0;
	background-color: darken($betty-blue, 10%);
  border-top: 2px solid $betty-blue;
  border-bottom: 2px solid $betty-blue;
}
#skip_to_content {	@include skip-to-content; }
#topnav_holder {
	// @mixin accessible-menu-single-column(
	// 	$hamburger-color: $jack-white,
	// 	$spacing: "space-around",
	// 	$convert-at-width: $vp-large,
	// 	$width: $site-width,
	// 	$mobile-id: "topnav_mobile_toggle",
	// 	$nav-id: "topnav",
	// 	$nav-class: "nav-menu",
	// 	$top-level-class: "nav-item",
	// 	$sub-nav-group-class: "sub-nav-group",
	// 	$sub-nav-class: "sub-nav",
	// 	$flyout-class: "flyout-group",
	// 	$indent-last: true) {
	@include accessible-menu-single-column(
		$hamburger-color: $jack-white,
		$spacing: space-between,
		$convert-at-width: $vp-max,
		$width: $vp-max
	);
	width: 100%;

}

#topnav_mobile_toggle {
	top: 95px;
	right: 20px;
}

#topnav {
	background: $macy-grey;
	.nav-item > a {
		height: 50px;
		padding: 0 10px;
		font: {
				size: 1.125em;
				weight: 700;
			}
		color: $betty-blue;

		&:focus,
		&:hover,
		&.open { color: $red-fox; }
	}
	
	.sub-nav {
		
		a {
			color: $betty-blue;
			
			&:focus,
			&:hover,
			&.open { color: $red-fox; }
		}
	}
	
	@include respond-to($vp-large) {
		background: transparent;
		.nav-item:not(:last-child){
			border-right: 1px solid rgba($jack-black,.9);
			a{
				border-right: 1px solid rgba($jack-white,.5);
			}
		}
		.nav-item {
			> a {
				@include hover-bg(red,white);
				height: 66px;
				padding: 0 35px;
				font: {
					size: 1rem;
					weight: 400;
				}
				color: $jack-white;

			}
		}
		
		.sub-nav { 
			background: $macy-grey;
		}
	}
}



#header_container{
	@include flex-all(row,center,center);
	position: relative;
	top: -75px;
}
#header_title{
	@include image-replace(175px,216px,'../head_logo.png');
	@include flex(none);
	position: relative;
  top: 40px;
	background-size: contain;
}
#social_nav{
	position: absolute;
	top: 45px;
	right: 0;
}


#shuffle{
	width: 100%;
	img{
		width: 100%;
	}
}

#quicklinks_section{ padding: 0 }
#quicklinks_container{
	$this-height: 108px;
	@include flex-all(row,space-between,center);
	position: relative;
	margin-top: - $this-height - 15px;
	height: $this-height;
	.ql-item{
		$item-width: 18%;
		@include link-box($this-height, $item-width);
		@include inside-box($jack-white, 8px, before);
		@include hover{
			background-color: red;
			&:before{
				border: 1px solid black;
			}
		}
		span { width: 70% }
		color: white;
		background:{
			color: $betty-blue;
		}

	}
}
#spotlight_section{
	background-color: $jack-white;
}

#events_section{
	background:{
		color: $red-fox;
		image: url('');
		position: center center;
		size: cover;
	}
	.item{
		$border: 1px solid $jack-white;
		width: 300px;
		border: $border;
		border-radius: 15px;
		margin: 0 50px;
		color: $jack-white;
		table{
			width: 100%;
			border-collapse: collapse;
			.td-name{
				text-align: center;
				border-bottom: $border;
			}
			.td-date{
				width: 20%;
				border-right: $border;
			}
			.td-desc{
				width: 40%;
				border-bottom: $border;
			}
			tr:last-child .td-desc{ border-bottom: none }
			.item-date{
				@include flex-all(column,center,center);
			}
		}
	}
}

#events_slick{
	@include slick-slider(20px);
}

#news_social_section{
	background-color: $jack-white;
}

@mixin image-holder($width: 100px, $height: null, $text: null){
	@include bg-cover;
	display: block;
	width: $width;
	@if $height == null {
		height: $width;
	} @else {
		height: $height;
	}
	@if $text == null {
		color: transparent;
	} @else {
		@include flex-all(column,center,center);
		color: $text;
	}
}



#news_column,
#social_column{ 

	.column{ 
	//@include flex(1) 
	}
}
	
#news_column{
	@include flex-all(column,flex-start,flex-start);
	height: 800px;
	.items-list{
		.item{
				@include flex-all(row, flex-start, center);
				&:not(:last-child){
					@include gradient-line-bottom;
					padding-bottom: 25px;
					margin-bottom: 25px;
				}
		}
		.image-holder{
			@include image-holder(110px, 110px);
			@include inside-box($jack-white, 10px, after){
				border-radius: 50%;
			}
			margin-right: 20px;
			border-radius: 50%;
			background-color: red;
		}
	}
	.read-all-link{
		align-self: center;
		margin-top: auto;
	}
}
#social_column{
	.tablist{
		@include flexbox;
		@include stripped-list;
		padding: 0;

	}
	.tab-label{
			width: 50%;
			text-align: center;
			color: $jack-white;
			padding: 15px 0;
		}
		#tab_label1{
		background-color: blue;
		}
		#tab_label2{
		background-color: red;
	}
}


#graphics_section{
	@include bg-cover;
	background-color: black;
	.item{
		@include flex-all(column,center,center);
		color: $jack-white;
		.graph-svg{
			width: 20px;
			height: 20px;
			background-color: $jack-white;
			fill: $jack-white;
		}
	}
}
#graphics_slick{
	@include slick-slider(40px);
}

#ad_map_section{
	@include flexbox;
	padding: 0;
	width: 100%;
	height: $vp-max / 2;
}
#ad_holder, #google_map{
		width: 50%;
}
#ad_holder{
	position: relative;
}
#ad{
	position: absolute;
	top: 0;
	right: 0;
	width: $vp-max / 2;
	height: $vp-max / 2;
	background-color: $red-fox;
	color: $al-green;
}
#google_map{
	iframe{
			width: 100%;
			height: 100%;
	}
}


//TABS DEFAULTS
.tab-label {
	&:hover { cursor: pointer; }
	svg { pointer-events: none; }
}
.panel {	&.hidden { @include hidden; } }


//EDLIO
#edlio_login {
	@include edlio-login($jack-white, $jack-black);
}
#edlio_logo {
	@include svg-icon(140px, 20px, 0, rgba($jack-black, .3));
}
#mobile_nav {
	@include mobile-nav($betty-blue, $jack-white, $yellow-ono);
}
